.vagrant/
*.zip

# .Net stuff
*.ilk
*.log
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.pidb
*.rsp
*.sbr
*.scc
*.sln.docstates
*.suo
*.svclog
*.tlb
*.tlh
*.tli
*.tmp
*.tmp_proj
*.user
*.userosscache
*.userprefs
*.vspscc
*.vssscc
*_i.c
*_i.h
*_p.c
.builds
.vs/
[Bb]in/
[Bb]uild[Ll]og.*
[Dd]ebug/
[Dd]ebugPublic/
[Ll]og/
[Oo]bj/
[Rr]elease/
[Rr]eleases/
[Tt]est[Rr]esult*/
bld/
x64/
x86/
